<div class="container">

  <h2>Manage Clients</h2>
    <% if @clients.any?() %>

      <ul>
        <% @clients.each() do |client| %>
        <li><a href="/client_list/<%= client.id()%>"><%= client.name() %></a> </li>
        <% end %>
      </ul>

    <% else %>

      <p>
        There are currently no clients at Salon!
      </p>

    <% end %>

  <a href="/">Home</a>

</div>
