<div class="container">
  <div class="container1">
    <h1>Salon</h1>

    <a href="/stylist_list" class="link1">Manage Stylists</a>

    <a href="/client_list" class="link2">Manage Clients</a>

    </div>
</div>
