<div class="container">

  <h2>Manage Stylists</h2>

    <% if @stylists.any?() %>

      <ul>
        <% @stylists.each() do |stylist| %>
        <li><a href="/stylist_list/<%= stylist.id()%>"><%= stylist.name() %></a> </li>
        <% end %>
      </ul>

      <% else %>

      <p>
        There are currently no stylists at Salon!
      </p>

    <% end %>

  <h3>Add a new Stylist</h3>

    <form action="/stylist_list" method="post">
      <label for="stylist"></label>
      <input id="stylist" name="stylist" type="text" class="form-control">
      <button name="submit" class="btn btn-default">Add New Stylist</button>
    </form>

  <a href="/">Home</a>

</div>
