/*@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);*/

* {
  background-color: #FDFCF8;
}

h1 {
  /*font-family: 'Old Standard TT', serif;*/
  font-family: 'Didot';
  font-size: 120px;
  font-style: italic;
  /*font-weight: bold;*/
  letter-spacing: .09em;
  color: #651a37;
  margin-bottom: -5px;
}

h2 {
  font-family: 'Didot';
  font-size: 60px;
  color: #651a37;
}

h3 {
  font-family: 'Didot';
  font-size: 30px;
  color: #651a37;
}

h4 {
  font-family: 'Didot';
  font-size: 20px;
  color: #651a37;
  padding-top: 10px;
  padding-bottom: 5px;

}




a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #8e254d;
}

a:visited {
  color: black;

}


.link1 {
  font-family: 'Futura';
  color: black;
  padding-right: 30px;
  font-size: 15px;

}

.link2 {
  font-family: 'Futura';
  color: black;
  font-size: 15px;

}

ul, li {
  font-family: 'Futura';
  color: black;
  font-size: 18px;
}

.italicize {
  font-family: 'Didot';
  font-size: 60px;
  color: #651a37;
  font-style: italic;
  font-weight: bold;
}

.homelink {
font-family: 'Futura';
color: black;
font-size: 15px;

}
